{% extends "distances/base.html" %}
{% load bootstrap3 %}
{% load static %}



{% block header %}
  <h2>Add new exercise</h2>
{% endblock header %}

{% block content %}

 {% if messages %}
 <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
 </ul>
 {% endif %}  

  {% load crispy_forms_tags %}
  {% crispy form %}
  
  <!-- <form action="{% url 'distances:new_exercise' %}" method='post' class="form">
    
	{% csrf_token %}
	{% bootstrap_form form  %}
	
	{% buttons %}
	  <button name="submit" class="btn btn-primary" value="addone">lisää merkintä</button>
	  <button name="submitother" class="btn btn-primary" value="addother">Tallenna ja lisää uusi</button>
	{% endbuttons %}
  </form> -->
  
 
  
{% endblock content %}