{% extends "distances/base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block header %}
<button class="btn btn-info" onclick="showElement('id_filter_set')">Filters</button>
{% endblock header %}

{% block content %}
  
<!--   <form action="{% url 'distances:stats' %} "method='post' class='form'>
      {% csrf_token %}
	  {{ form.as_p }}
	  
	  {% buttons %}
	   <button name="submit" class="btn btn-primary" value="filter">Valitse laji</button>
	  {% endbuttons %}
	
  </form> -->
  <div id="id_filter_set" style="display: none">
    {% crispy filter.form filter.form.helper %}
  </div>
  <table style="width:100%">
   
	  <tr>
	  <!--<th>Sport</th>-->
	  <th>Week</th>
	  <th>Distance</th>
	  <th>Time</th>
	  
	</tr>
	{% for k, v  in weeks.items %}
	 <tr>
        <!-- <td>{{ ename }}</td>-->
		 <td>{{ k }}</td>
		 <td>{{ v.0 }}</td>
		 <td>{{ v.1|floatformat:"2" }}</td>
		
	  </tr>
	 {% empty %}
	   <tr>
	     <td>No exercises recorded yet.</td>
	  </tr>
	 {% endfor %} 
	 <tr class="blank_row">
       <td colspan="3"></td>
	 </tr>
	 <tr>
	  <!--<th>Sport</th>-->
	  <th>Month</th>
	  
	 
	  
	</tr>
	{% for k, v  in months.items %}
	 <tr>
        <!-- <td>{{ ename }}</td>-->
		 <td>{{ k }}</td>
		 <td>{{ v.0 }}</td>
		 <td>{{ v.1|floatformat:"2" }}</td>
		
	  </tr>
	 {% empty %}
	   <tr>
	     <td>No exercises recorded yet.</td>
	  </tr>
	 {% endfor %} 
	 
    </table>
    
  
{% endblock content %}