#id_filter_set {
   /* background-color: #040672;*/
	border-radius: 15px;
	/*width: 50%;*/
	}

/* body {
	background: white url("images/testi_kuva2.gif") no-repeat right bottom;
	background-color: white;
	} */

#id_centered_text {
   text-align: center;
   }
	
	
#id_sport {
   width: 100px;
   }
 
 
#id_hours {
   width: 100px;
   }
    
#id_minutes {
   width: 100px;
   }
  
 #id_distance {
   width: 100px;
   }
  
 #id_date {
   width: 150px;
   }
   
 #id_startDate {
   width: 150px;
   }
 
#id_endDate {
   width: 150px;
   }
 
 div[id=exerciseModal]{
	border-radius: 20px;
 }
 
 div[id=div_id_sport]{
	color: black;
}

 table.paleblue {
	color: black;
 }
 
 
 
 /* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.blank_row {
	height: 10px;
	/* background-color: #FFFFFF;*/
}
