{% extends "distances/base.html" %}
{% load bootstrap3 %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
     {% if no_form is not empty %}
      Maximum number of users. If you want to use this app, contact <a href="mailto:rokegoteam@gmail.com?Subject=Rokego feedback" target="_top">
      rokegoteam(at)gmail.com</a>
      
     {% else %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
	  
	{% buttons %}
    <button type="submit" class="btn btn-primary">Sign up</button>
  {% endbuttons %}
  {% endif %}
  </form>
{% endblock content%}